
.non-used{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title{
        text-align: center;
        font-family: 'Lobster', cursive;
        font-size: 30px;
        margin-block-start: 10vh;
        margin-block-end: 5vh;
    }
    &__next{
        padding: 12px 46px;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 35px;
        font-size: 14px;
        width: max-content;
        margin-block-start: 10vh;
    }
    .flags{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        $size: 70px;
    
        &__flag{
            width: $size;
            height: $size;
            padding: 3px;
            border-radius: 100%;
            cursor: pointer;
            border: 2px solid   rgb(215, 215, 215);
            &--active{
                border-color: rgb(170, 168, 168);
            }
            &:hover{
                background-color: transparent;
            }
            & > img{
                width: 100%;
                height: 100%;
            }
        }
    }

}